{% load i18n static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oabnew</title>
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/code.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <script>
        if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            document.body.classList.add('mobile');
        }

        // 当网页向下滑动 20px 出现"返回顶部" 按钮
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("btnTop").style.display = "block";
            } else {
                document.getElementById("btnTop").style.display = "none";
            }
        }

        // 点击按钮，返回顶部
        function returnTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <button onclick="returnTop()" id="btnTop" title="返回顶部">返回顶部</button>
    <div class="header" onclick=window.location.href="/myblog/">
        <a href="../"><span class="pron">Wenbao's</span> <span class="hub">Blogs</span><sup>18+ Only</sup></a>
    </div>
    <div class="container blog blog-detail">
        <div class="blog-content">{{ blog.content | safe}}</div>
        <hr class="fancy-line">

        <form class="blog-content" autocomplete="off" action="{% url 'blog_detail' title=blog.title %}" method="post">
            {{ comment_form.as_p }} {% csrf_token %}
            <input id="submit" type="submit" value="增加评论">
        </form>

        <div class="blog-content">
            <hr class="fancy-line"> {% with comment_list.count as total_comments %}
            <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
            {% for comment in comment_list %}
            <div class="comment">
                <p class="info">
                    #{{ forloop.counter }}楼 {{ comment.created }} by {{ comment.name }}
                </p>
                <p class="say">{{ comment.body }}</p>
            </div>
            <hr class="fancy-line"> {% empty %}
            <p>还没有评论</p>
            <hr class="fancy-line"> {% endfor %} {% endwith %}
        </div>
    </div>
    <footer>
        <div class="icp">© 2018-2020 oabnew.com 版权所有 许可证：<a href="http://www.beian.miit.gov.cn/">晋ICP备17009907号</a></div>
    </footer>
</body>

</html>