{% load i18n static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oabnew</title>
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <script>
        if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            document.body.classList.add('mobile');
        }
    </script>
    <div class="header">
        <a href="#"><span class="pron">Wenbao's</span> <span class="hub">Blogs</span><sup>18+ Only</sup></a>
    </div>
    <div class="container">
        {% for blog in blog_list %}
        <div class="blog-wrapper">
            <div class="blog">
                <div class="blog-heading" onclick=window.location.href="{% url 'blog_detail' title=blog.title %}">
                    <h1 class="title">{{ blog.title }}</h1>
                    <div class="date">{{ blog.created_at|date:"Y / m / d" }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer>
        <div class="icp">© 2018-2020 oabnew.com 版权所有 许可证：<a href="http://www.beian.miit.gov.cn/">晋ICP备17009907号</a></div>
    </footer>
</body>

</html>